<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Julien BOISGARD</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div class="circle-container"></div>
  <div class="ui fixed menu">
    <div class="ui container">
      <a href="#presentation" class="item hover-animate">Présentation</a>
      <a href="#experience" class="item hover-animate">Expérience</a>
      <a href="#competences" class="item hover-animate">Compétences</a>
      <a href="#projects" class="item hover-animate">Projets GitHub</a>
    </div>
  </div>

  <div class="ui container" style="margin-top: 60px;">
      <h1 id="presentation" class="ui header animate__animated animate__fadeIn">Présentation</h1>
      <div class="ui segment animate__animated animate__fadeIn">
        <h2 class="ui header">BOISGARD JULIEN</h2>
        <p><strong>Quelques mots sur moi</strong></p>
        <p>Passionné par les technologies de l’informatique et l’automatisation, je suis un professionnel dynamique et investi dans le domaine du DevOps et de l’ingénierie réseau. Mon parcours diversifié, enrichi par des expériences en entreprise et des projets personnels, m’a permis d’acquérir des compétences techniques approfondies et une solide compréhension des systèmes complexes. Je reste animé par la volonté de développer et de partager mes connaissances, ainsi que de m’investir pleinement dans des projets technologiques ambitieux. Mon expertise m’offre la capacité de m’adapter rapidement aux environnements exigeants et de contribuer efficacement aux équipes techniques.</p>
        <h3 class="ui header">COORDONNÉES</h3>
        <p><i class="fas fa-phone"></i> 06 04 18 65 55<br>
        <i class="fas fa-envelope"></i> julien.boisgard37@gmail.com<br>
        <i class="fas fa-car"></i> Permis B & A (Véhiculé)<br>
        <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/julien-boisgard-3a2469206/" target="_blank">LinkedIn</a></p>
    </div>

    <h1 id="experience" class="ui header animate__animated animate__fadeIn">Expérience</h1>
    <div class="ui segments animate__animated animate__fadeIn">
      
      <div class="ui segment experience-item left-align" style="margin-bottom: 30px;">
        <h2 class="ui header">AG2R la mondiale</h2>
        <p><strong>DEPUIS AOUT 2023</strong></p>
        <p>Alternant DevOps - Mise en place du source de vérité populaire avec gestion “As code” et une population de données en chaines CI/CD</p>
      </div>
      <div class="ui segment experience-item right-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Création d'une micro-entreprise</h2>
        <p><strong>DEPUIS JUIN 2022</strong></p>
        <p>Entrepreneur dans la création de sites web wordpress ou PHP (Symfony)</p>
      </div>
      <div class="ui segment experience-item left-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Worldline Financial services</h2>
        <p><strong>AVRIL 2023 - JUIL 2023</strong></p>
        <p>Ingénieur réseaux (Stage) - Script de la gestion des versions de softwares des équipements Firewall cisco ASA et autres petit scripts</p>
      </div>
      <div class="ui segment experience-item right-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Worldline Financial services</h2>
        <p><strong>JUIN 2022</strong></p>
        <p>Ingénieur réseaux (Stage) - Initiation de développement d’un outil de vérification des normes de sécurité des appareils (switch, router & firewall).</p>
      </div>
      <div class="ui segment experience-item left-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Université sciences et Techniques Tours</h2>
        <p><strong>SEPT 2021 - JAN 2023</strong></p>
        <p>Assistant ingénieur (CDD) - Cours de tutorat de python/java et développement web.</p>
      </div>
      <div class="ui segment experience-item right-align" style="margin-bottom: 30px;">
        <h2 class="ui header">E. Leclerc Fondettes</h2>
        <p><strong>DEC 2019 - MARS 2023</strong></p>
        <p>Employé comercial (CDI) - Entretien de rayons (gestion du stock, support client)</p>
      </div>
    </div>

    <h1 id="formation" class="ui header animate__animated animate__fadeIn">Formation</h1>
    <div class="ui segments animate__animated animate__fadeIn">
      <div class="ui segment experience-item left-align" style="margin-bottom: 30px;">
        <h2 class="ui header">SUPINFO Tours</h2>
        <p><strong>DEPUIS OCTOBRE 2023</strong></p>
        <p>Master en spécialité Développement Cloud et Mobile</p>
      </div>
      <div class="ui segment experience-item right-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Université sciences et Techniques Tours</h2>
        <p><strong>SEPT 2020 - SEPT 2023</strong></p>
        <p>Licence informatique (Mention bien)<br>Représentant de classe les trois ans</p>
      </div>
      <div class="ui segment experience-item left-align" style="margin-bottom: 30px;">
        <h2 class="ui header">Lycée Jean Monnet</h2>
        <p><strong>SEPT 2016 - AOUT 2020</strong></p>
        <p>BAC S SVT (Mention Assez-bien)</p>
      </div>
    </div>

    <h1 id="competences" class="ui header animate__animated animate__fadeIn">Compétences</h1>
    <div class="ui four stackable doubling cards animate__animated animate__fadeIn">
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Systèmes</div>
            <div class="description">GNU/Linux , Debian, Ubuntu, Alpine</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Services</div>
            <div class="description">Nginx, Apache, Haproxy, Vault</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Bases de données</div>
            <div class="description">MySQL (MariaDB), PostgreSQL, MongoDB</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Search Engine</div>
            <div class="description">Elasticsearch</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Message broker/queue</div>
            <div class="description">RabbitMQ, Kafka</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Développement</div>
            <div class="description">Python, Bash, PHP, Javascript, Java, c/c++</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Frameworks</div>
            <div class="description">React, Symfony, Django, Node.JS</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">SCM</div>
            <div class="description">Git</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Gestion configurations</div>
            <div class="description">Ansible</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Infrastructure as Code</div>
            <div class="description">Terraform</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Cloud</div>
            <div class="description">Google Cloud, Azure</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Conteneurs</div>
            <div class="description">Docker, Kubernetes</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">CI</div>
            <div class="description">Gitlab ci, Jenkins</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Monitoring</div>
            <div class="description">Telegraf, InfluxDB, Grafana, Logstash (ELK), Prometheus, syslog</div>
          </div>
        </div>
        <div class="ui card custom-card hover-animate">
          <div class="content">
            <div class="header">Network</div>
            <div class="description">F5, Cisco asa, Palo-Alto, Checkpoint</div>
          </div>
        </div>
    </div>

    <h1 id="projectsid" class="ui header animate__animated animate__fadeIn">Projets GitHub</h1>
    <div id="projects" class="ui three stackable doubling cards animate__animated animate__fadeIn"></div>
  </div>

  <button id="back-to-top" class="ui circular icon button">
    <i class="arrow up icon"></i>
  </button>

  <footer class="ui inverted vertical footer segment">
    <div class="ui container" style="text-align: center;">
      <p>&copy; 2023 BOISGARD JULIEN. Tous droits réservés.</p>
    </div>
  </footer>

  <script src="/js/scripts.js"></script>
</body>
</html>